.selection-area,
.plot-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

mat-form-field {
    margin: 0 1% 0 1%;
}


.plot-area .plotly-plot {
    width: 100%
}

.plot-area .session-foraging-summary,
.plot-area .session-foraging-licking-psth {
    width: 50%;
}

.plot-area .plot {
    height: 500px;
    border: 2px solid black;
    margin: 1% 0;
}