<h5>Units</h5>
<div class="probe-selection-area" *ngIf="cells">
  <label for="insertion_number">Select Probe Insertion Number:  </label>
  <select name="insertion_number" (change)="probe_selected($event.target.value)">
    <option *ngFor="let probeIns of probeInsertions" [value]="probeIns" [selected]="probeIns == probeInsertions[0]">{{ probeIns }}</option>
  </select>
  <label for="shank_number">Select Shank Number:  </label>
  <select name="shank_number" (change)="selectedShank = $event.target.value">
    <option *ngFor="let shank of driftmapByProbe[selectedProbeIndex] | keyvalue" [value]="shank.key" [selected]="shank.key == selectedShank">{{ shank.key }}</option>
  </select>
</div>
<div class="row">
  <div class="driftmap-area" *ngIf="driftmapByProbe">
    <img *ngIf="driftmapByProbe[selectedProbeIndex] && driftmapByProbe[selectedProbeIndex][selectedShank]" class="driftmap" [src]="driftmapByProbe[selectedProbeIndex][selectedShank]">
    <p *ngIf="!driftmapByProbe[selectedProbeIndex]">Sorry, no driftmap information can be found for this probe insertion number.</p>
  </div>
  <div class="coronalslice-area" *ngIf="coronalsliceByProbe">
    <img *ngIf="coronalsliceByProbe[selectedProbeIndex] && coronalsliceByProbe[selectedProbeIndex][selectedShank]" class="driftmap" [src]="coronalsliceByProbe[selectedProbeIndex][selectedShank]">
    <p *ngIf="!coronalsliceByProbe[selectedProbeIndex]">Sorry, no coronal slice information can be found for this probe insertion number.</p>
  </div>  
  <div class="units-nav-area" *ngIf="cells">
    <plotly-plot [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (click)="clusterSelectedPlot($event)"></plotly-plot>
    <div class="plots-navigator" *ngIf="showController">
      <div *ngIf="cells" class="clusterListContainer">
        <!-- <table matSort (matSortChange)="sortData($event)" class="table table-sm table-hover col-5 ml-auto clusterListTable" #navTable> -->
        <table class="table table-sm table-hover col-5 ml-auto clusterListTable"
          #navTable>
          <thead class="thead-light">
            <!-- <th mat-sort-header="unit">Unit</th> -->
            <th>Unit</th>
            <!-- <th>Probe Index</th> -->
            <!-- <th mat-sort-header="unit_depth">Unit Depth</th> -->
            <th>Unit Depth</th>
            <!-- <th mat-sort-header="unit_amp">Unit Amp</th> -->
            <th>Unit Amp</th>
            <th>Quality</th>
            <!-- <th>y position</th> -->
          </thead>
          <tbody>
            <tr *ngFor="let cl of sortedCellsByProbeIns" (click)="clusterSelectedTable(cl.unit)" [id]="cl?.unit == clickedUnitId ? 'highlighted-row' : ''" [ngStyle]="{'backgroundColor': cl?.unit == clickedUnitId ? '#e5ffec' : ''}">
            <!-- <tr *ngFor="let cl of cellsByProbeIns" (click)="clusterSelectedTable(cl.unit)" [ngStyle]="{'backgroundColor': cl?.unit == clickedUnitId ? '#e5ffec' : ''}"> -->
              <td>{{ cl.unit }}</td>
              <!-- <td>{{ cl.insertion_number }}</td> -->
              <td>{{ cl.unit_depth | number: '1.0-2' }}</td>
              <td>{{ cl.unit_amp | number: '1.0-2' }}</td>
              <td>{{ cl.unit_quality}}</td>
              <!-- <td>{{ cl.unit_posy }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="plots-navigator-buttons">
        <h3><span class="oi oi-arrow-circle-top" (click)="navigate_cell_plots($event, 'up')"></span></h3>
        <h3><span class="oi oi-arrow-circle-bottom" (click)="navigate_cell_plots($event, 'down')"></span></h3>
      </div>
    </div>
  </div>
  <div class="unit-plots-area">
    <p *ngIf="!unitBehaviorLoading">Selected Unit Id: {{ clickedUnitId }}</p>
    <div class="unit-plots-subarea" *ngIf="cellsByProbeIns">
      <div class="unit-plot unit-behavior-plot">
        <p *ngIf="unitBehaviorLoading">Unit Behavior Plot Loading...</p>
        <img *ngIf="!unitBehaviorLoading && cellsByProbeIns[clickedUnitIndex] && cellsByProbeIns[clickedUnitIndex]['unit_behavior']" [src]="cellsByProbeIns[clickedUnitIndex]['unit_behavior']">
        <img *ngIf="(!unitBehaviorLoading && !cellsByProbeIns[clickedUnitIndex]) || (!unitBehaviorLoading && !cellsByProbeIns[clickedUnitIndex]['unit_behavior'])" class="empty-plot empty-behavior-plot" src="assets/images/unit_behavior_empty.png">
        <!-- <div *ngIf="!cellsByProbeIns[clickedUnitIndex] || !cellsByProbeIns[clickedUnitIndex]['unit_behavior']" class="empty-plot empty-behavior-plot"><img class="dummy-behavior-plot"></div> -->

      </div>
      <div class="unit-plot unit-psth-plot">
        <p *ngIf="unitPsthLoading">Unit PSTH Plot Loading...</p>
        <img *ngIf="!unitPsthLoading && cellsByProbeIns[clickedUnitIndex] && cellsByProbeIns[clickedUnitIndex]['unit_psth']" [src]="cellsByProbeIns[clickedUnitIndex]['unit_psth']">
        <img *ngIf="(!unitPsthLoading && !cellsByProbeIns[clickedUnitIndex]) || (!unitPsthLoading && !cellsByProbeIns[clickedUnitIndex]['unit_psth'])" class="empty-plot empty-psth-plot" src="assets/images/unit_psth_empty.png">
        <!-- <div *ngIf="!cellsByProbeIns[clickedUnitIndex] || !cellsByProbeIns[clickedUnitIndex]['unit_psth']" class="empty-plot empty-psth-plot"><img class="dummy-psth-plot"></div> -->
      </div>
    </div>
  </div>

  <br>
</div>
