h5 {
    font-weight: 300;
}

.clusterListTable thead th {
    position: sticky;
    top: -3px;
    z-index: 99;
}

.clusterListTable tbody {
    cursor: pointer;
}

td span.oi {
    z-index: 30;
    position: relative;
}

.units-nav-area {
    display: inline-flex;
    flex-direction: row;
}

.plots-navigator {
    /* position: fixed; */
    z-index: 999;
    display: inline-flex;
    flex-direction: row;
    right: 0;
    margin-top: 120px;
    margin-left: 30px;
}

.clusterListContainer {
    height: 400px;
    overflow-y: auto;
}

.plots-navigator-buttons {
    margin-right: 5px;
    margin-top: 8px;
}

.plots-navigator-buttons span:hover {
    cursor: pointer;
}


.unit-plots-subarea {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.unit-behavior-plot {
    width: 42vw !important;
}

.unit-psth-plot {
    width: 25vw !important;
}

.unit-plot img {
    width: 100%;
}

.empty-plot {
    display: block;
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
}
.dummy-behavior-plot {
    width: 1600px;
    height: 1600px;
}

.dummy-psth-plot {
    width: 640px;
    height: 480px;
}

