<div *ngIf="cells">
  <h3>Cells</h3>
</div>
<!-- <p>id: {{ clickedUnitId }}</p> -->
<div class="probe-selection-area">
  <label for="insertion_number">Select Probe Insertion Number:  </label>
  <select name="insertion_number" (change)="probe_selected($event.target.value)">
    <option *ngFor="let probeIns of probeInsertions" [value]="probeIns" [selected]="probeIns == probeInsertions[0]">{{ probeIns }}</option>
  </select>
</div>
<div class="row">
  <plotly-plot [data]="plot_data" [layout]="plot_layout" [config]="plot_config" (click)="clusterSelectedPlot($event)"></plotly-plot>
  <div class="plots-navigator" *ngIf="showController">
    <div *ngIf="cells" class="clusterListContainer">
      <table class="table table-sm table-hover col-5 ml-auto clusterListTable" #navTable>
        <thead class="thead-light">
          <th>Unit</th>
          <!-- <th>Probe Index</th> -->
          <th>Unit Depth</th>
          <th>Unit Amp</th>
          <!-- <th>x position</th> -->
          <!-- <th>y position</th> -->
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let cl of cells" (click)="clusterSelectedTable(cl.unit)" [ngStyle]="{'backgroundColor': cl?.unit == clickedUnitId ? '#ffe5e5' : ''}">
            <td>{{ cl.unit }}</td>
            <!-- <td>{{ cl.insertion_number }}</td> -->
            <td>{{ cl.unit_depth }}</td>
            <td>{{ cl.unit_amp }}</td>
            <!-- <td>{{ cl.unit_posx }}</td> -->
            <!-- <td>{{ cl.unit_posy }}</td> -->
            <td>
              <span class="oi oi-external-link" routerLink="/cell/{{cl?.subject_id}}/{{cl?.session}}/{{cl?.unit}}">
                <div hidden>
                  <td>{{ cl.unit }}</td>
                  <td>{{ cl.insertion_number }}</td>
                  <td>{{ cl.unit_depth }}</td>
                  <td>{{ cl.unit_amp }}</td>
                  <td>{{ cl.unit_posx }}</td>
                  <td>{{ cl.unit_posy }}</td>
                </div>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="plots-navigator-buttons">
      <h3><span class="oi oi-arrow-circle-top" (click)="navigate_cell_plots($event, 'up')"></span></h3>
      <h3><span class="oi oi-arrow-circle-bottom" (click)="navigate_cell_plots($event, 'down')"></span></h3>
    </div>
  </div>

  <div class="unit-plots-area">
    Selected Unit Id: {{ targetUnitId }}
    <div class="unit-plots-subarea" *ngIf="cellsByProbeIns">
      <div class="unit-plot unit-behavior-plot">
        <p *ngIf="unitBehaviorLoading">Unit Behavior Plot Loading...</p>
        <img *ngIf="!unitBehaviorLoading && cellsByProbeIns[targetUnitId - 1] && cellsByProbeIns[targetUnitId - 1]['unit_behavior']" [src]="cellsByProbeIns[targetUnitId - 1]['unit_behavior']">
        <img *ngIf="!unitBehaviorLoading && !cellsByProbeIns[targetUnitId - 1] || !cellsByProbeIns[targetUnitId - 1]['unit_behavior']" class="empty-plot empty-behavior-plot" src="assets/images/unit_behavior_empty.png">
        <!-- <div *ngIf="!cellsByProbeIns[targetUnitId - 1] || !cellsByProbeIns[targetUnitId - 1]['unit_behavior']" class="empty-plot empty-behavior-plot"><img class="dummy-behavior-plot"></div> -->

      </div>
      <div class="unit-plot unit-psth-plot">
        <p *ngIf="unitPsthLoading">Unit PSTH Plot Loading...</p>
        <img *ngIf="!unitPsthLoading && cellsByProbeIns[targetUnitId - 1] && cellsByProbeIns[targetUnitId - 1]['unit_psth']" [src]="cellsByProbeIns[targetUnitId - 1]['unit_psth']">
        <img *ngIf="!unitPsthLoading && !cellsByProbeIns[targetUnitId - 1] || !cellsByProbeIns[targetUnitId - 1]['unit_psth']" class="empty-plot empty-psth-plot" src="assets/images/unit_psth_empty.png">
        <!-- <div *ngIf="!cellsByProbeIns[targetUnitId - 1] || !cellsByProbeIns[targetUnitId - 1]['unit_psth']" class="empty-plot empty-psth-plot"><img class="dummy-psth-plot"></div> -->
      </div>
    </div>
  </div>

  <br>
</div>
