* {
    font-family: Ubuntu;
}
.session-list-container {
    padding-top: 20px;
}

h4 {
    font-weight: 300;
}

form {
    /* margin-bottom: 5px; */
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(209, 209, 209);
    display: inline-block;
    font-size: 80%;
    width: 100%;
}

.filterExpand {
    height: auto;
    visibility: visible;
}
.filterCollapse,
.filterCollapse * {
    height: 0;
    visibility: hidden;
}

.mat-datepicker-toggle{
    position:absolute;
    font-size: 3em;
    margin-left: -50px;
    margin-top: -20px;
}

.filters {
    display: flex;
    flex-direction: column;
}


.sorted_sessions_chbox {
    margin-left: 15px;
}

.form-section {
    width: 100%;
}

.session-date-filter {
    float: left;
    width: 440px;
    margin-top: 9px;
    display: inline-flex;
}

.session-date-filter mat-form-field {
    margin: 0px;
}

.range-filter-inputs mat-form-field {
    width: 50%;
    padding-right: 2%;
}

.date-range-toggler + mat-form-field {
    width: 35%;
}

.date-range-toggler {
    margin-top: 14px;
    margin-right: 13px;
    width: 33%;
}

.date-range-toggler div {
    transform: translateY(-25%);
}

label {
    font-weight: 500;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.loading-icon {
    text-align: center;
}

.loading-icon img {
    width: 100px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table-container * {
    background-color: rgba(224, 227, 250, 0.023);
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding-right: 15px;
}

td.to-center {
    text-align: center;
}

mat-form-field {
    margin: 14px;
    width: 200px;
    float: left;
}


mat-form-field.short {
    width: 100px;
}

tr.mat-row:hover {
    /* background-color: rgb(248, 248, 248); */
    background-color: rgba(15, 146, 107, 0.2);
    cursor: pointer;
}

button {
    float: left;
    margin-left: 3px;
    border: 2px solid #2f25bd;
}
button:hover {
    border: 2px solid #2f25bd;
    background-color: #2f25bd;
    color: white;
}

.btn-reset {
    border: 2px solid #8e3a99 !important;
}
.btn-reset:hover {
    border: 2px solid #b768b9 !important;
    background-color: #b768b9 !important;
    color: white;
}

/* .mouse_gender_filter {
    padding-top: 12px;
    padding-bottom: 2px;
    margin-top: 11px;
    margin-left: 10px;
    margin-bottom: 8px;
    width: 150px;
    float: left;
}

.mouse_gender_filter label {
    margin-bottom: 0px;
}
mat-checkbox.mouse_gender_menu_chbox {
    margin-right: 12px;
}
.mouse_gender_menu_chbox label.mat-checkbox-layout {
    margin-bottom: 0px;
}
.mouse_gender_menu{
    display: flex;
    flex-direction: row;
}; */


.labelBeforeSlide {
  vertical-align: top;
  line-height: 24px;
  margin-right:0.5rem;
  margin-bottom:0.5rem;
}


/* for different screen sizes */
/* XS and S (768px and down) */
/* @media only screen and (max-width: 768px) {...}  */

/* M (768px and up) */
@media only screen and (min-width: 768px) {

}

/* L (992px and up) */
@media only screen and (min-width: 992px) {

}

/* XL (1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1383px) {
    table {
        overflow-x: auto;
    }
}




