<div class="units-viewer-container">
  <h5>Units View</h5>
  <div class="units-loading" *ngIf="unitsLoading">
    <img src="assets/images/loading_icon.gif">
  </div>
  <div *ngIf="units" class="units-viewer-header">
    <div class="row info-table">
      <table class="table col-lg-4 col-sm-6 col-xs-12 table-bordered table-sm">
        <tr>
          <th>Subject ID</th>
          <td>{{ units[0]?.subject_id }}</td>
        </tr>
        <tr>
          <th>Session</th>
          <td>{{ units[0]?.session }}</td>
        </tr>
        <tr>
          <th>Probe Insertion Number</th>
          <td>{{ units[0]?.insertion_number }}</td>
        </tr>
        <tr>
          <th>Clustering Method</th>
          <td>{{ units[0]?.clustering_method }}</td>
        </tr>
        <tr>
          <th>Brain Location</th>
          <td>{{ units[0]?.brain_location_name }}</td>
        </tr>
      </table>
    </div>
    <div class="toggle-view-filter">
      <mat-checkbox [checked]="hideMissingPlots" class="toggle-view-chbox" (change)="toggleUnitsView()">
        Only Show Units With Plots
      </mat-checkbox>
    </div>
  </div>
  
  <hr>
  <div class="units-table">
    <table *ngFor="let unit of units" [style.display]="hideMissingPlots && !unit['unit_behavior'] ? 'none': 'table'" class="unit table table-bordered table-sm">
      <tr class="unit-row">
        <td width="22%">
          <table class="unit-detail table table-sm">
            <tr><th>Unit #</th><td>{{ unit['unit'] }}</td></tr>
            <tr><th>Quality</th><td>{{ unit['unit_quality'] }}</td></tr>
            <tr><th>Electrode</th><td>{{ unit['electrode'] }}</td></tr>
            <tr><th>Amp</th><td>{{ unit['unit_amp'] }}</td></tr>
            <tr><th>Depth</th><td>{{ unit['unit_depth'] }}</td></tr>
            <tr><th>Avg. Firing Rate</th><td>{{ unit['avg_firing_rate'] }}</td></tr>
            <tr><th>ISI Violation</th><td>{{ unit['isi_violation'] }}</td></tr>
            <tr><th>DV Location</th><td>{{ unit['dv_location'] }}</td></tr>
            <tr><th>x Position</th><td>{{ unit['unit_posx'] }}</td></tr>
            <tr><th>y Position</th><td>{{ unit['unit_posy'] }}</td></tr>
            <tr><th>Unit Snr</th><td>{{ unit['unit_snr'] }}</td></tr>
          </table>
        </td>
        <td width="38%"><img class="unit-behavior-plot" [src]="unit['unit_behavior']"></td>
        <td width="32%"><img class="unit-psth-plot" [src]="unit['unit_psth']"></td>
      </tr>
    </table>
  </div>

</div>
